.App {
    font-family: "DIN", sans-serif !important;
    position: absolute;
    bottom:0;
    width: 100%;
    text-align: center;
}
.App-light{
    color:#232127;
    text-align: center;
    width: 100%;
}

.App-dark{
    color:#e5e3e8;
    text-align: center;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: transparent !important;
  }
  

.card-header{
    padding-right: 10px;
    text-align: left;
    font-weight: bolder;
    font-size: xx-large;
    padding-bottom: 20px;
}

.header-label{
    font-style: italic;
    font-size: medium;
    text-align: left;
    font-weight: bold;
}

.grid-background-blue{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/echovrconnect-6b9cb.appspot.com/o/stream_buddy_images%2Fechoarena_render_character_04_wide.jpg?alt=media") !important;
    background-position: -250px -50px !important; 
    background-size: 1000px !important;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(8px);
}

.grid-background-orange{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/echovrconnect-6b9cb.appspot.com/o/stream_buddy_images%2Fechoarena_render_character_10.jpg?alt=media") !important;
    background-position: -175px 0px !important; 
    background-size: 1000px !important;
    background-repeat: no-repeat !important;
    backdrop-filter: blur(8px);
}
.header-percentage{
    text-align: right;
    font-weight: bold;
    font-size: x-large;
}
.row{
    width: 100%;
    margin: 0 auto;
}
.exit-div{
    width: 100%;
    height: 10px;
    margin: auto
}
.exit{
    height:75px;
    display: inline-block;
    width: 25%;
}
.orange-team{
    width:  7.5%;
    height: 75px;
    background: orange;
    display: inline-block;
}


.player-label{
    margin-bottom: 20px;
    text-align: center;
    background: "green";
}

.player-name{
    font-weight: bolder;
    font-size: xx-large;
    text-align: left;
}
.scoreboard{
    background: white;
    height: 75px;
    width: 35%;
    display: inline-block;
}
.team-tag{
    color: #e9a220;
    text-align: left;
    font-size: small;
    font-weight: 600;
    padding-bottom: 10px;
}
.blue-team{
    width: 7.5%;
    height: 75px;
    background: blue;
    display: inline-block;
}